[mysqld]
user=mysql
bind-address = 0.0.0.0
port = 3329
max_connections = 150
max_user_connections = 150
key_buffer_size = 1G
myisam_sort_buffer_size = 64M
join_buffer_size = 2M
read_buffer_size = 2M
sort_buffer_size = 3M
table_open_cache = 1024
thread_cache_size = 286
connect_timeout = 36000
max_allowed_packet = 4G
max_connect_errors = 1000
tmp_table_size = 16M
innodb-flush-log-at-trx-commit=2
innodb_use_native_aio = 0
innodb_lru_scan_depth = 256
explicit_defaults_for_timestamp = 1
innodb_buffer_pool_size=7000M
innodb_log_file_size=2G
innodb_flush_log_at_trx_commit=0
innodb_flush_method=O_DIRECT
innodb_file_per_table=ON
innodb_stats_on_metadata=OFF
innodb_buffer_pool_instances=1
interactive_timeout     = 864000
wait_timeout            = 864000
general_log = 1
general_log_file = /var/lib/mysql/general.log

[mysqldump]
max_allowed_packet=2048M
